networkx==3.6.1
numpy==2.4.1
shapely
osmnx
pandas
pyarrow
fastparquet
scikit-learn
tqdm
geopy>=2.4.0

# --- Phase 5: LLM & SLURM ---
torch              # The engine for local LLMs
transformers       # Hugging Face library to load models (T5, Llama, etc.)
accelerate         # Essential for running large models on GPUs efficiently
sentencepiece      # Required for many LLM tokenizers (like T5 and Llama)
protobuf           # Dependency for certain tokenizers

# --- For better string matching ---
thefuzz
python-Levenshtein